
@{
    ViewBag.Title = "Produktark";
}

<h2>Produktark</h2>
<div class="row">
    <div class="col-md-8">
        <p><b>ID</b> <a href="/produktark/">http://register.geonorge.no/produktark</a></p>
        <p>Inneholder dokumenter for produktspesifikasjoner for kart- og geodata</p>
        <p><b>Administrator</b>: Kartverket     <b>Kontrollorgan</b>: Kartverket</p>
    </div>
    <div class="col-md-4 text-right">
        <p>Maskinelt tilgjengelige format (ikke navigerbar/implementert)</p>
        <a class="btn btn-warning" href="atom.xml">Atom</a>
        <a class="btn btn-warning" href="rdf.xml">RDF</a>
        <a class="btn btn-warning" href="data.json">Json</a>
    </div>
</div>

<a class="btn btn-success" href="#">Opprett nytt produktark (For pålogget bruker)</a>

<table class="table">
    <tr>
        <th>
            ID
        </th>
        <th>
            Navn
        </th>
        <th>
            Innhold
        </th>
        <th>
            Ansvarlig organisasjon
        </th>
        <th>
            Dokument
        </th>
    </tr>

    <tr>
        <td>
            <a href="/produktark/">http://register.geonorge.no/produktark/ngu/loesmasser</a>
        </td>
        <td>
            Produktspesifikasjon for løsmasser
        </td>
        <td>
            Datagrunnlaget for tema jordarter er basert på innholdet i kvartærgeologiske kart (løsmassekart), som foreligger analogt i flere
            målestokker (fra 1:20.000 til 1:250.000), og digital kartlegging.
        </td>
        <td>
            Norges geologiske undersøkelse
        </td>
        <td>
            <a class="btn btn-default btn-primary" href="http://www.ngu.no/upload/Aktuelt/Produktspesifikasjon_LosmasseN250_N50.pdf">Vis</a>
        </td>

    </tr>
    <tr>
        <td>
            <a href="/produktark/">http://register.geonorge.no/produktspesifikasjon/kartverket/kystkontur</a>
        </td>
        <td>
            Produktspesifikasjon for primærdata kystkontur
        </td>
        <td>
            Primærdata kystkontur definerer grense mellom sjø og land til bruk i alle Statens kartverks produkter.
        </td>
        <td>
            Statens kartverk
        </td>
        <td>
            <a class="btn btn-default btn-primary" href="http://kartverket.no/Documents/Standard/SOSI-standarden%20del%201%20og%202/Produktspesifikasjoner%20-%20SOSI%20del%203/Produktspesifikasjon_Primrdatakyst_v1.pdf">Vis</a>
        </td>
    </tr>


</table>

