@{
    ViewBag.Title = "EPSG koder";
}
@section head {
<link rel="alternate" type="application/atom+xml"
      href="/epsg-kode/atom.xml" title="Atom Feed">
}

<h2>EPSG koder</h2>
<div class="row">
    <div class="col-md-8">
        <p><b>ID</b> <a href="/epsg-kode/">http://register.geonorge.no/epsg-kode</a></p>
        <p>Inneholder EPSG koder som må støttes for alle WMS-tjenester .....levert i Norge Digitalt</p>
        <p><b>Administrator</b>: Kartverket</p>
    </div>
    <div class="col-md-4 text-right">
        <a class="btn btn-warning" href="atom.xml">Atom</a>
        <a class="btn btn-warning" href="rdf.xml">RDF</a>
        <a class="btn btn-warning" href="data.json">Json</a>
    </div>
</div>
<a class="btn btn-success" href="#">Foreslå ny kode (For pålogget bruker)</a>

<table class="table">
    <tr>
        <th>
            ID
        </th>
        <th>
            Navn
        </th>
        <th>
            Definisjon
        </th>
        <th>
            EPSG
        </th>
        <th>
            SOSI referansesystem
        </th>
        <th>
            Ansvarlig organisasjon
        </th>
        <th>
            Ekstern referanse
        </th>
        
    </tr>

    <tr>
        <td>
            <a href="/epsg-kode/25829">http://register.geonorge.no/epsg-kode/25829</a>
        </td>
        <td>
            UTM sone 29,basert på EUREF89 (ETRS89/UTM), 2d
        </td>
        <td>
            ...
        </td>
        <td>
            EPSG::25829
        </td>
        <td>
            19
        </td>
        <td>
            Kartverket
        </td>
        <td>
            http://spatialreference.org/ref/epsg/etrs89-utm-zone-29n/
        </td>
</tr>
    <tr>
        <td>
            <a href="/epsg-kode/25830">http://register.geonorge.no/epsg-kode/25830</a>
        </td>
        <td>
            UTM sone 30,basert på EUREF89 (ETRS89/UTM), 2d
        </td>
        <td>
            ...
        </td>
        <td>
            EPSG::25830
        </td>
        <td>
            20
        </td>
        <td>
            Kartverket
        </td>
        <td>
            http://spatialreference.org/ref/epsg/etrs89-utm-zone-30n/
        </td>
    </tr>
    <tr>
        <td>
            <a href="/epsg-kode/25829">http://register.geonorge.no/epsg-kode/25829</a>
        </td>
        <td>
            UTM sone 29,basert på EUREF89 (ETRS89/UTM), 2d
        </td>
        <td>
            ...
        </td>
        <td>
            EPSG::25829
        </td>
        <td>
            19
        </td>
        <td>
            Kartverket
        </td>
        <td>
            http://spatialreference.org/ref/epsg/etrs89-utm-zone-29n/
        </td>
    </tr>
    <tr>
        <td>
            <a href="/epsg-kode/25829">http://register.geonorge.no/epsg-kode/25829</a>
        </td>
        <td>
            UTM sone 29,basert på EUREF89 (ETRS89/UTM), 2d
        </td>
        <td>
            ...
        </td>
        <td>
            EPSG::25829
        </td>
        <td>
            19
        </td>
        <td>
            Kartverket
        </td>
        <td>
            http://spatialreference.org/ref/epsg/etrs89-utm-zone-29n/
        </td>
    </tr>
    <tr>
        <td>
            <a href="/epsg-kode/25829">http://register.geonorge.no/epsg-kode/25829</a>
        </td>
        <td>
            UTM sone 29,basert på EUREF89 (ETRS89/UTM), 2d
        </td>
        <td>
            ...
        </td>
        <td>
            EPSG::25829
        </td>
        <td>
            19
        </td>
        <td>
            Kartverket
        </td>
        <td>
            http://spatialreference.org/ref/epsg/etrs89-utm-zone-29n/
        </td>
    </tr>
    <tr>
        <td>
            <a href="/epsg-kode/25829">http://register.geonorge.no/epsg-kode/25829</a>
        </td>
        <td>
            UTM sone 29,basert på EUREF89 (ETRS89/UTM), 2d
        </td>
        <td>
            ...
        </td>
        <td>
            EPSG::25829
        </td>
        <td>
            19
        </td>
        <td>
            Kartverket
        </td>
        <td>
            http://spatialreference.org/ref/epsg/etrs89-utm-zone-29n/
        </td>
    </tr>
    <tr>
        <td>
            <a href="/epsg-kode/25829">http://register.geonorge.no/epsg-kode/25829</a>
        </td>
        <td>
            UTM sone 29,basert på EUREF89 (ETRS89/UTM), 2d
        </td>
        <td>
            ...
        </td>
        <td>
            EPSG::25829
        </td>
        <td>
            19
        </td>
        <td>
            Kartverket
        </td>
        <td>
            http://spatialreference.org/ref/epsg/etrs89-utm-zone-29n/
        </td>
    </tr>
    <tr>
        <td>
            <a href="/epsg-kode/25829">http://register.geonorge.no/epsg-kode/25829</a>
        </td>
        <td>
            UTM sone 29,basert på EUREF89 (ETRS89/UTM), 2d
        </td>
        <td>
            ...
        </td>
        <td>
            EPSG::25829
        </td>
        <td>
            19
        </td>
        <td>
            Kartverket
        </td>
        <td>
            http://spatialreference.org/ref/epsg/etrs89-utm-zone-29n/
        </td>
    </tr>
    <tr>
        <td>
            <a href="/epsg-kode/25829">http://register.geonorge.no/epsg-kode/25829</a>
        </td>
        <td>
            UTM sone 29,basert på EUREF89 (ETRS89/UTM), 2d
        </td>
        <td>
            ...
        </td>
        <td>
            EPSG::25829
        </td>
        <td>
            19
        </td>
        <td>
            Kartverket
        </td>
        <td>
            http://spatialreference.org/ref/epsg/etrs89-utm-zone-29n/
        </td>
    </tr>
    <tr>
        <td>
            <a href="/epsg-kode/25829">http://register.geonorge.no/epsg-kode/25829</a>
        </td>
        <td>
            UTM sone 29,basert på EUREF89 (ETRS89/UTM), 2d
        </td>
        <td>
            ...
        </td>
        <td>
            EPSG::25829
        </td>
        <td>
            19
        </td>
        <td>
            Kartverket
        </td>
        <td>
            http://spatialreference.org/ref/epsg/etrs89-utm-zone-29n/
        </td>
    </tr>
   


</table>



