<h1>register.geonorge.no</h1>



<table class="table">
    <tr>
        <th>
            ID
        </th>
        <th>
            Navn
        </th>
        <th>
            Innhold
        </th>
        <th>
            Administrator
        </th>
        <th>
            Kontrollorgan
        </th>
    </tr>

        <tr>
            <td>
                <a href="/productspesifications">http://register.geonorge.no/produktspesifikasjon</a>
            </td>
            <td>
                Produktspesifikasjon
            </td>
            <td>
                Inneholder dokumenter for produktspesifikasjoner for kart- og geodata 
            </td>
            <td>
                Kartverket
            </td>
            <td>
                Kartverket
            </td>
        </tr>
    <tr>
        <td>
            <a href="/Productsheets">http://register.geonorge.no/produktark</a>
        </td>
        <td>
            Produktark
        </td>
        <td>
            Inneholder organisasjoners produktark for kart og geodata
        </td>
        <td>
            Kartverket
        </td>
        <td>
            
        </td>
    </tr>
    <tr>
        <td>
            <a href="/codelists">http://register.geonorge.no/kodeliste</a>
        </td>
        <td>
            Kodeliste
        </td>
        <td>
            Inneholder kodelister
        </td>
        <td>
            Kartverket
        </td>
        <td></td>
    </tr>
    <tr>
        <td>
            <a href="/namespace">http://register.geonorge.no/navnerom</a>
        </td>
        <td>
            Navnerom
        </td>
        <td>
            Inneholder godkjente navnerom
        </td>
        <td>
            Kartverket
        </td>
        <td>Kartverket</td>
    </tr>
    <tr>
        <td>
            <a href="/GMLapplicationschemas">http://register.geonorge.no/gml-applikasjonsskjema</a>
        </td>
        <td>
            GML applikasjonsskjema
        </td>
        <td>
            Inneholder godkjente GML applikasjonsskjema
        </td>
        <td>
            Kartverket
        </td>
        <td>Kartverket</td>
    </tr>
    <tr>
        <td>
            <a href="/sosidef">http://register.geonorge.no/sosi-def</a>
        </td>
        <td>
            SOSI def
        </td>
        <td>
            Inneholder godkjente SOSI definisjonsfiler
        </td>
        <td>
            Kartverket
        </td>
        <td>Kartverket</td>
    </tr>
    <tr>
        <td>
            <a href="http://dok.test.geonorge.no/">http://register.geonorge.no/det-offentlige-kartgrunnlaget</a>
        </td>
        <td>
            Det offentlige kartgrunnlaget
        </td>
        <td>
            Inneholder oversikt over datasett som inngår i det offentlige kartgrunnlaget
        </td>
        <td>
            Kartverket
        </td>
        <td>Kartverket</td>
    </tr>
    <tr>
        <td>
            <a href="@Url.Action("Index", "Organizations")">http://register.geonorge.no/organisasjon</a>
        </td>
        <td>
            Organisasjon
        </td>
        <td>
            Inneholder oversikt over organisasjoner og deres logo
        </td>
        <td>
            Kartverket
        </td>
        <td>Kartverket</td>
    </tr>
    <tr>
        <td>
            <a href="/epsgcodes">http://register.geonorge.no/epsg-kode</a>
        </td>
        <td>
            EPSG kode
        </td>
        <td>
            Inneholder oversikt over EPSG koder som benyttes i Norge Digitalt omtalt i rammeverksdokumentet
        </td>
        <td>
            Kartverket
        </td>
        <td>Kartverket</td>
    </tr>

</table>