
@{
    ViewBag.Title = "Import";
}

<h2>@Organizations.ImportFromCSV</h2>
<p>@Organizations.ImportFromCSVInfo</p>
@using (Html.BeginForm("Import", "Organizations", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    <div class="form-horizontal">
        <hr />
       

        <div class="form-group">
           
            <div class="col-md-10">
                <input type="file" name="csvfile" />
                
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="@Registers.Propose" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    <a href="/register/organisasjoner">@Shared.Back</a>
</div>


