@{
    ViewBag.Title = "Navnerom";
}
@section head {
    <link rel="alternate" type="application/atom+xml"
          href="/navnerom/atom.xml" title="Atom Feed">
}

<h2>Navnerom</h2>
<div class="row">
    <div class="col-md-8">
        <p><b>ID</b> <a href="/namespace/">http://register.geonorge.no/navnerom</a></p>
        <p>Inneholder godkjente navnerom</p>
        <p><b>Administrator</b>: Kartverket     <b>Kontrollorgan</b>: Kartverket</p>
    </div>
    <div class="col-md-4 text-right">
        <a class="btn btn-warning" href="atom.xml">Atom</a>
        <a class="btn btn-warning" href="rdf.xml">RDF</a>
        <a class="btn btn-warning" href="data.json">Json</a>
    </div>
</div>

<table class="table">
    <tr>
        <th>
            ID
        </th>
        <th>
            Navnerom
        </th>
        
        <th>
            Ansvarlig organisasjon
        </th>
        

    </tr>

    <tr>
        <td>
            <a href="/navnerom/kartverket">http://register.geonorge.no/navnerom/kartverket</a>
        </td>
        <td>
            no.kartverket
        </td>
        <td>
            Kartverket
        </td>
    </tr>
    <tr>
        <td>
            <a href="/navnerom/skogoglandskap">http://register.geonorge.no/navnerom/skogoglandskap</a>
        </td>
        <td>
            no.skogoglandskap
        </td>
        <td>
            Norsk institutt for skog og landskap
        </td>
    </tr>
    <tr>
        <td>
            <a href="/navnerom/ngu">http://register.geonorge.no/navnerom/ngu</a>
        </td>
        <td>
            no.ngu
        </td>
        <td>
            Norges geologiske undersøkelse
        </td>
    </tr>



</table>
