
@{
    ViewBag.Title = "GML applikasjonsskjema";
}
@section head {
    <link rel="alternate" type="application/atom+xml"
          href="/gml-applikasjonsskjema/atom.xml" title="Atom Feed">
}

<h2>GML applikasjonsskjema</h2>
<div class="row">
    <div class="col-md-8">
        <p><b>ID</b> <a href="/gml-applikasjonsskjema">http://register.geonorge.no/gml-applikasjonsskjema</a></p>
        <p>Inneholder godkjente gml-applikasjonsskjema</p>
        <p><b>Administrator</b>: Kartverket     <b>Kontrollorgan</b>: Kartverket</p>
    </div>
    <div class="col-md-4 text-right">
        <p>Maskinelt tilgjengelige format (ikke navigerbar/implementert)</p>
        <a class="btn btn-warning" href="atom.xml">Atom</a>
        <a class="btn btn-warning" href="rdf.xml">RDF</a>
        <a class="btn btn-warning" href="data.json">Json</a>
    </div>
</div>

<table class="table">
    <tr>
        <th>
            ID
        </th>
        <th>
            Navn
        </th>
        <th>
            Innhold
        </th>
        <th>
            Versjon
        </th>
        <th>
            Status
        </th>
        <th>
            Ansvarlig organisasjon
        </th>
        <th>
            GML applikasjonsskjema
        </th>
    </tr>

    <tr>
        <td>
            <a href="/gml-applikasjonsskjema/admenheternorge">http://register.geonorge.no/gml-applikasjonsskjema/admenheternorge</a>
        </td>
        <td>
            AdmEnheterNorge
        </td>
        <td>
            .....
        </td>
        <td>
            3.0.20131001
        </td>
        <td>
            Forslag
        </td>
        <td>
            Kartverket
        </td>
        <td>
            <a class="btn btn-default btn-primary" href="http://skjema.geonorge.no/SOSI/produktspesifikasjon/AdmEnheterNorge/3.0/AdmEnheterNorge.xsd">Vis</a>
        </td>

    </tr>
    <tr>
        <td>
            <a href="/gml-applikasjonsskjema/stedsnavn">http://register.geonorge.no/gml-applikasjonsskjema/stedsnavn</a>
        </td>
        <td>
            Stedsnavn
        </td>
        <td>
            .....
        </td>
        <td>
            4.5.2
        </td>
        <td>
            Forslag
        </td>
        <td>
            Kartverket
        </td>
        <td>
            <a class="btn btn-default btn-primary" href="http://skjema.geonorge.no/SOSI/produktspesifikasjon/Stedsnavn/4.5/Stedsnavn.xsd">Vis</a>
        </td>

    </tr>
    <tr>
        <td>
            <a href="/gml-applikasjonsskjema/primaerdatakystkontur">http://register.geonorge.no/gml-applikasjonsskjema/primaerdatakystkontur</a>
        </td>
        <td>
            PrimærdataKystkontur
        </td>
        <td>
            .....
        </td>
        <td>
            1.0.RC6
        </td>
        <td>
            Avvist
        </td>
        <td>
            Kartverket
        </td>
        <td>
            <a class="btn btn-default btn-primary" href="http://skjema.geonorge.no/SOSI/produktspesifikasjon/Prim%c3%a6rdataKystkontur/1.0/Prim%c3%a6rdataKystkontur.xsd">Vis</a>
        </td>

    </tr>
    <tr>
        <td>
            <a href="/gml-applikasjonsskjema/fylke">http://register.geonorge.no/gml-applikasjonsskjema/fylke</a>
        </td>
        <td>
            Fylke
        </td>
        <td>
            .....
        </td>
        <td>
            4.5
        </td>
        <td>
            Forslag
        </td>
        <td>
            Kartverket
        </td>
        <td>
            <a class="btn btn-default btn-primary" href="http://skjema.geonorge.no/SOSI/produktspesifikasjon/Fylke/4.5/Fylke.xsd">Vis</a>
        </td>

    </tr>
    <tr>
        <td>
            <a href="/gml-applikasjonsskjema/luftsfartshindre">http://register.geonorge.no/gml-applikasjonsskjema/luftsfartshindre</a>
        </td>
        <td>
            Luftsfartshindre
        </td>
        <td>
            .....
        </td>
        <td>
            1.0.1
        </td>
        <td>
            Forslag
        </td>
        <td>
            Kartverket
        </td>
        <td>
            <a class="btn btn-default btn-primary" href="http://skjema.geonorge.no/SOSI/produktspesifikasjon/Luftfartshindre/1.0/Luftfartshindre.xsd">Vis</a>
        </td>

    </tr>
    <tr>
        <td>
            <a href="/gml-applikasjonsskjema/norgesmaritimegrenser">http://register.geonorge.no/gml-applikasjonsskjema/norgesmaritimegrenser</a>
        </td>
        <td>
            NorgesMaritimeGrenser
        </td>
        <td>
            .....
        </td>
        <td>
            2014-1-1
        </td>
        <td>
            Forslag
        </td>
        <td>
            Kartverket
        </td>
        <td>
            <a class="btn btn-default btn-primary" href="http://skjema.geonorge.no/SOSI/produktspesifikasjon/NorgesMaritimeGrenser/2014-1/NorgesMaritimeGrenser.xsd">Vis</a>
        </td>

    </tr>
    <tr>
        <td>
            <a href="/gml-applikasjonsskjema/planomriss">http://register.geonorge.no/gml-applikasjonsskjema/planomriss</a>
        </td>
        <td>
            Planomriss
        </td>
        <td>
            .....
        </td>
        <td>
            4.5.0beta2
        </td>
        <td>
            Forslag
        </td>
        <td>
            Kartverket
        </td>
        <td>
            <a class="btn btn-default btn-primary" href="http://skjema.geonorge.no/SOSI/produktspesifikasjon/Planomriss/4.5/Planomriss.xsd">Vis</a>
        </td>

    </tr>
    <tr>
        <td>
            <a href="/gml-applikasjonsskjema/statenhetergrunnkretser">http://register.geonorge.no/gml-applikasjonsskjema/statenhetergrunnkretser</a>
        </td>
        <td>
            StatEnheterGrunnkretser
        </td>
        <td>
            .....
        </td>
        <td>
            1.0.20131001
        </td>
        <td>
            Forslag
        </td>
        <td>
            Kartverket
        </td>
        <td>
            <a class="btn btn-default btn-primary" href="http://skjema.geonorge.no/SOSI/produktspesifikasjon/StatEnheterGrunnkretser/1.0/StatEnheterGrunnkretser.xsd">Vis</a>
        </td>

    </tr>
    <tr>
        <td>
            <a href="/gml-applikasjonsskjema/universellutforming">http://register.geonorge.no/gml-applikasjonsskjema/universellutforming</a>
        </td>
        <td>
            UniversellUtforming
        </td>
        <td>
            .....
        </td>
        <td>
            1.0
        </td>
        <td>
            Forslag
        </td>
        <td>
            Kartverket
        </td>
        <td>
            <a class="btn btn-default btn-primary" href="http://skjema.geonorge.no/SOSI/produktspesifikasjon/UniversellUtforming/1.0/UniversellUtforming.xsd">Vis</a>
        </td>

    </tr>

</table>
