@model Kartverket.Register.Models.ViewModels.RegisterItemVeiwModel

<div>
    <div class="tab-content">
        <div class="tab-pane active" id="home">
            @Html.Partial("_currentVersionDocuments", Model)
        </div>
    </div>  
</div>

