<h2>Indicators</h2>

<table class="table table-bordered">
    <tr>
        <th></th>
        <th colspan="2">Metadata</th>
        <th colspan="2">Data Sets</th>
        <th colspan="4">Services</th>
    </tr>
    <tr class="success">
        <th></th>
        <th>Existence</th>
        <th>Compliance</th>
        <th>Extend</th>
        <th>Compliance</th>
        <th>MD Accessibility</th>
        <th>DS Accessibility</th>
        <th>Use</th>
        <th>Compliance</th>
    </tr>

    <tr class="active">
        <th>Indicator Name</th>
        <th>MDi1</th>
        <th>MDi2</th>
        <th>DSi1</th>
        <th>DSi2</th>
        <th>NSi1</th>
        <th>NSi2</th>
        <th>NSi3</th>
        <th>NSi4</th>
    </tr>

    <tr>
        <th>Indicator Value</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <th>Numerator</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <th>Denominator</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>

</table>


@***** SPATIAL DATA SETS*****@

<h3>Spatial Data Sets</h3>

<table class="table table-bordered">
    <tr>
        <th colspan="2"></th>
        <th colspan="2">Metadata</th>
        <th colspan="2">Data Sets</th>
        <th colspan="4">Services</th>
    </tr>


    <tr class="success">
        <th>All Annexes</th>
        <th></th>
        <th>Existence</th>
        <th>Compliance</th>
        <th>Extend</th>
        <th>Compliance</th>
        <th>MD Accessibility</th>
        <th>DS Accessibility</th>
        <th>Use</th>
        <th>Compliance</th>
    </tr>

    <tr class="active">
        <th></th>
        <th>SubInd. Name</th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th>NS1.1</th>
        <th></th>
        <th></th>
        <th></th>
    </tr>

    <tr>
        <th></th>
        <th>SubInd. Value</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <th></th>
        <th>Numerator</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <th></th>
        <th>Denominator</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>


    @* ***** ANNEX I ******* *@

<tr class="active">
        <th>Annex I</th>
        <th>SubInd. Name</th>
        <th>MDi1.1</th>
        <th>MDi2.1</th>
        <th>DSi1.1</th>
        <th>DSi2.1</th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
    </tr>

    <tr>
        <th></th>
        <th>SubInd. Value</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <th></th>
        <th>Numerator</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <th></th>
        <th>Denominator</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>


    @* ***** ANNEX II ******* *@


<tr class="active">
        <th>Annex II</th>
        <th>SubInd. Name</th>
        <th>MDi1.2</th>
        <th>MDi2.2</th>
        <th>DSi1.2</th>
        <th>DSi2.2</th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
    </tr>

    <tr>
        <th></th>
        <th>SubInd. Value</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <th></th>
        <th>Numerator</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <th></th>
        <th>Denominator</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>

    @* ***** ANNEX III ******* *@

<tr class="active">
        <th>Annex III</th>
        <th>SubInd. Name</th>
        <th>MDi1.3</th>
        <th>MDi2.3</th>
        <th>DSi1.3</th>
        <th>DSi2.3</th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
    </tr>

    <tr>
        <th></th>
        <th>SubInd. Value</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <th></th>
        <th>Numerator</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <th></th>
        <th>Denominator</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>

</table>


@***** SPATIAL DATA SERVICES*****@

<h3>Spatial Data Services</h3>

<table class="table table-bordered">
    <tr>
        <th colspan="2"></th>
        <th colspan="2">Metadata</th>
        <th colspan="2">Data Sets</th>
        <th colspan="4">Services</th>
    </tr>


    <tr class="success">
        <th>All Services</th>
        <th></th>
        <th>Existence</th>
        <th>Compliance</th>
        <th>Extend</th>
        <th>Compliance</th>
        <th>MD Accessibility</th>
        <th>DS Accessibility</th>
        <th>Use</th>
        <th>Compliance</th>
    </tr>

<tr class="active">
        <th></th>
        <th>SubInd. Name</th>
        <th>MDi1.4</th>
        <th>MDi2.4</th>
        <th></th>
        <th></th>
        <th>NSi1.2</th>
        <th></th>
        <th>NSi3</th>
        <th>NSi4</th>
    </tr>

    <tr>
        <th></th>
        <th>SubInd. Value</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <th></th>
        <th>Numerator</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <th></th>
        <th>Denominator</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>


    @* ***** Discovery Services ******* *@

<tr class="active">
        <th>Discovery Services</th>
        <th>SubInd. Name</th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th>NSi3.1</th>
        <th>NSi4.1</th>
    </tr>

    <tr>
        <th></th>
        <th>SubInd. Value</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <th></th>
        <th>Numerator</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <th></th>
        <th>Denominator</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>


    @* ***** View Services ******* *@


<tr class="active">
        <th>View Services</th>
        <th>SubInd. Name</th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th>NSi2.1</th>
        <th>NSi3.2</th>
        <th>NSi4.2</th>
    </tr>

    <tr>
        <th></th>
        <th>SubInd. Value</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <th></th>
        <th>Numerator</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <th></th>
        <th>Denominator</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>

    @* ***** Download Services ******* *@

<tr class="active">
        <th>Download Services</th>
        <th>SubInd. Name</th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th>NSi2.2</th>
        <th>NSi3.3</th>
        <th>NSi4.3</th>
    </tr>

    <tr>
        <th></th>
        <th>SubInd. Value</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <th></th>
        <th>Numerator</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <th></th>
        <th>Denominator</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>

    @* ***** Transformation Services ******* *@

<tr class="active">
        <th>Transformation Services</th>
        <th>SubInd. Name</th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th>NSi3.4</th>
        <th>NSi4.4</th>
    </tr>

    <tr>
        <th></th>
        <th>SubInd. Value</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <th></th>
        <th>Numerator</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <th></th>
        <th>Denominator</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>


    @* ***** Invoke Services ******* *@

<tr class="active">
        <th>Invoke Services</th>
        <th>SubInd. Name</th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th>NSi3.5</th>
        <th>NSi4.5</th>
    </tr>

    <tr>
        <th></th>
        <th>SubInd. Value</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <th></th>
        <th>Numerator</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <th></th>
        <th>Denominator</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>

</table>