Velg visningsform:
<div class="custom-select">
    <select class="form-control" id="layoutSelectList">
        <option onclick="listView()" id="layout-liste" title="Listevisning">Liste</option>
        <option onclick="tableView()" id="layout-tabell" selected="selected" title="Tabellvisning">Tabell</option>
    </select>
</div>