@using Kartverket.Register.Helpers




<div id="logo-on-sm">
    @* Logo vises over navbar på xs-devices  *@
    <img src="~/Content/img/kvlogo_col.png" alt="Kartverkets logo" />
</div>

<header class="navbar navbar-geonorge" role="banner">
    <div class="container">
        <table class="vertical-centering" id="logo-navbar" role="presentation">
            <tbody role="presentation">
                <tr role="presentation">
                    <td role="presentation">
                        <a href="http://kartverket.no"><img src="/Content/img/kvlogo_col.png" alt="Kartverkets logo" /></a>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="navbar-header">
            <a href="@Html.GeonorgeUrl()" class="navbar-title">
                <div class="navbar-headline"><strong>Geonorge</strong></div>
                <div class="navbar-subline"></div>
            </a>
        </div>
        <table class="vertical-centering" id="sub-page-title" role="presentation">
            <tbody role="presentation">
                <tr role="presentation">
                    <td role="presentation">
                        <a href="/">Registrene</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</header>