<div id="logo-on-sm">@* Logo vises over navbar på xs-devices  *@
    <img src="~/Content/img/kvlogo_col.png" alt="Kartverkets logo" />
</div>

<header class="navbar navbar-geonorge" role="banner">
    <div class="container">
        <div class="inline-block flex-vertical-centering" id="logo-navbar">
            <a href="http://kartverket.no"><img src="/Content/img/kvlogo_col.png" alt="Kartverkets logo" /></a>
        </div>
        <div class="navbar-header">
            <a href="/" class="navbar-title">
                <div class="navbar-headline"><strong>Geonorge</strong></div>
                <div class="navbar-subline">- hele Norges kartportal</div>
            </a>
        </div>
        <div id="sub-page-title" class="flex-vertical-centering"><a href="/">Registre</a></div>
    </div>
    <div id="ribbon-container">
        <div id="beta-ribbon"><span>Beta 2.0</span></div>

    </div>
</header>
