@{
    var register = ViewBag.register;
    var registerSEO = ViewBag.registerSEO;
    var owner = ViewBag.owner;
    var ownerSEO = ViewBag.ownerSEO;
    var subregister = ViewBag.subregister;
    
    var kontroller = "/register/" + registerSEO;
    if (owner != null) { kontroller = "/register/" + registerSEO + "/" + ownerSEO; }
    if (subregister != null) { kontroller = "/subregister/" + registerSEO + "/" + ownerSEO + "/" +subregister; }

}
<div class="row">
    <div class="col-sm-4 col-md-4 col-lg-4">
        <div class="view-navigation">
            <ul class="nav nav-pills text-center">
                <li><a onclick="listView()" id="button-listView" class="active" title="Listevisning"><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> Liste</a></li>
                @*<li><a onclick="galleryView()" id="button-galleryView" class="" title="Gallerivisning"><span class="glyphicon glyphicon-th" aria-hidden="true"></span> Galleri</a></li>*@
                <li><a onclick="tableView()" id="button-tableView" class="" title="Tabellvisning"><span class="glyphicon glyphicon-list" aria-hidden="true"></span> Tabell</a></li>
            </ul>
        </div>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4" style="margin-top:-30px;">
    @if (register == "EPSG koder")
	{
		<b>Filter:</b>
        <form action="/register/epsg-koder/" method="get">
            <input type="checkbox" name="filterVertikalt" value="vertikalt">Vertikalt &nbsp;
            <input type="checkbox" name="filterHorisontalt" value="horisontalt">Horisontalt
            <input type="submit" value="Filtrer">
        </form>
	}        
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
        <div id="sortBox" class="pagination pagination-sm pull-right">
            <form action="@kontroller" name="sortering" method="get">
                <div class="pull-right" onchange="SortBy()">
                    <label for="sorting">Sorter:</label> @Html.DropDownList("sorting", "Navn a-å")
                </div>
            </form>
        </div>
    </div>
</div>