@{
    var register = ViewBag.register;
    var registerSEO = ViewBag.registerSEO;
    var owner = ViewBag.owner;
    var ownerSEO = ViewBag.ownerSEO;
    var subregister = ViewBag.subregister;
    
    var kontroller = "/register/" + registerSEO;
    if (owner != null) { kontroller = "/register/" + registerSEO + "/" + ownerSEO; }
    if (subregister != null) { kontroller = "/subregister/" + registerSEO + "/" + ownerSEO + "/" +subregister; }

}

    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <div class="">
            <ul class="nav nav-pills text-center">
                <li><a onclick="listView()" id="button-listView" name="liste" class="active"><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> Liste</a></li>
                <li><a onclick="galleryView()" id="button-galleryView" name="galleri" class=""><span class="glyphicon glyphicon-th" aria-hidden="true"></span> Galleri</a></li>
                <li><a onclick="tableView()" id="button-tableView" name="tabell" class=""><span class="glyphicon glyphicon-list" aria-hidden="true"></span> Tabell</a></li>
            </ul>
        </div>
    </div>

    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <div class="pagination pagination-sm pull-right">
            <form action="@kontroller" name="sortering" method="get">
                <div class="pull-right" onchange="SortBy()">
                    Sorter: @Html.DropDownList("sorting", "Navn a-å")
                </div>
            </form>
        </div>
    </div>


<br />

<br /><br />

<hr />
