﻿@using Kartverket.Register.Helpers
@using Kartverket.Register.Models

@{
    var register = ViewBag.register;
    var registerSEO = ViewBag.registerSEO;
    var owner = ViewBag.owner;
    var ownerSEO = ViewBag.ownerSEO;
    var subregister = ViewBag.subregister;
    var selectedVertical = ViewBag.selectedVertical;
    var selectedHorizontal = ViewBag.selectedHorizontal;
    CodelistValue selectedMunicipal = HtmlHelperExtensions.GetSelectedMunicipality(ViewBag.selectedMunicipality);
    var selectedMunicipalName = "Velg kommune";
    if (selectedMunicipal != null)
    {
        selectedMunicipalName = selectedMunicipal.name;
    }


    var kontroller = "/register/" + registerSEO;
    if (owner != null) { kontroller = "/register/" + registerSEO + "/" + ownerSEO; }
    if (subregister != null) { kontroller = "/subregister/" + registerSEO + "/" + ownerSEO + "/" + subregister; }

}


<br />
<div class="col-md-9">
    @if (register == "EPSG koder")
    {
        <form action="/register/epsg-koder" method="get" name="filtering">
            <input type="hidden" name="text" value="@ViewBag.search" />
            <input type="hidden" name="sorting" value="@ViewBag.SortOrder" />
            <div class="col-md-3">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        Filter:
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <label style="font-weight:normal;" for="filterVertikalt" title="Referansesystemtype: Vertikalt"> @Html.CheckBox("filterVertikalt", new { onchange = "Filter()" }) Vertikalt</label>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <label style="font-weight:normal;" for="filterHorisontalt" title="Referansesystemtype: Horisontalt"> @Html.CheckBox("filterHorisontalt", new { onchange = "Filter()" }) Horisontalt</label>
                    </div>
                </div>
            </div>
        </form>
    }
</div>


<div class="result-header"></div>