@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = Shared.Error;
}

<h1 class="text-danger"><p>@Shared.ErrorInfo</p></h1>
@if (HttpContext.Current.IsCustomErrorEnabled)
{
    <p>@Shared.Error: @Model.Exception.Message</p>
}
@Html.Raw(Shared.ErrorReport)
