@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Feil";
}

<h1 class="text-danger">Feil</h1>
<p>Det har desverre skjedd en feil med din forespørsel. Prøv igjen om litt.</p>
@if (HttpContext.Current.IsCustomErrorEnabled)
{
    <p>Feilmelding: @Model.Exception.Message</p>
}
<p>Feilen er logget og vil sjekkes av systemansvarlig.</p>
<p>Du kan også rapportere feilen til <a mailto:"post@norgedigitalt.no">post@norgedigitalt.no</a>.</p>
