@font-face {
  font-family: 'Meta Book';
  src: url('/Content/fonts/MetaWeb-Book.eot');
  src: local('☺'), url('/Content/fonts/MetaWeb-Book.woff') format('woff'), url('/Content/fonts/MetaComp-Book.ttf') format('truetype');
}
.geonorge-container {
  font-family: Arial, sans-serif;
  font-style: normal;
  color: #565656;
  /**************** FILTER BOX ************/
}
.geonorge-container .offscreen {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
.geonorge-container h1,
.geonorge-container h2,
.geonorge-container h3,
.geonorge-container h4,
.geonorge-container h5,
.geonorge-container h6 {
  font-family: 'Meta Book', Arial, sans-serif;
}
.geonorge-container h1 > a,
.geonorge-container h2 > a,
.geonorge-container h3 > a,
.geonorge-container h4 > a,
.geonorge-container h5 > a,
.geonorge-container h6 > a {
  color: inherit;
}
.geonorge-container #logo-on-sm {
  position: absolute;
  top: 5px;
  left: 50%;
}
@media (min-width: 480px) {
  .geonorge-container #logo-on-sm {
    display: none;
  }
}
.geonorge-container #logo-on-sm img {
  position: relative;
  left: -45px;
  height: 30px;
}
.geonorge-container .kartverket-link-list {
  list-style-position: outside;
  list-style-type: disc;
  padding-left: 1em;
}
.geonorge-container .kartverket-link-list li {
  margin-bottom: 0.7em;
}
.geonorge-container .kartverket-link-list a {
  color: #0058a3;
  display: block;
  min-height: 1.6666667em;
}
.geonorge-container .shortcut {
  margin-bottom: 10px;
}
.geonorge-container .shortcut a {
  width: 100%;
  text-align: left;
  background-color: #ededed;
  padding-top: 1px;
  padding-bottom: 1px;
}
.geonorge-container .shortcut table {
  height: 3.7em;
}
.geonorge-container .shortcut td {
  vertical-align: middle;
  font-size: 1.2em;
  line-height: 1.2;
  white-space: normal;
  -ms-word-break: break-word;
  word-break: break-word;
}
.geonorge-container .shortcut i {
  color: black;
  font-size: 1.5em;
  margin-right: 15px;
}
@media (min-width: 992px) {
  .geonorge-container .shortcut {
    padding-top: 1px;
    padding-bottom: 1px;
  }
}
.geonorge-container .h-lg {
  font-size: 2.2em;
}
.geonorge-container .h-md {
  font-size: 1.7em;
}
.geonorge-container .h-sm {
  font-size: 1.2em;
}
.geonorge-container .h-xs {
  font-size: 0.7em;
}
@media (min-width: 768px) {
  .geonorge-container .h-lg {
    font-size: 2.5em;
  }
  .geonorge-container .h-md {
    font-size: 2em;
  }
  .geonorge-container .h-sm {
    font-size: 1.5em;
  }
  .geonorge-container .h-xs {
    font-size: 1em;
  }
}
.geonorge-container .page-header {
  border-bottom: none;
  margin-top: 0;
  margin-bottom: 0;
  display: -ms-flexbox;
  display: flex;
}
.geonorge-container .page-header div.ie-fix {
  margin: 0;
  line-height: 1.1;
  width: 0;
}
.geonorge-container .page-header hr {
  border-bottom: 3px solid #e87722;
  border-top: none;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  margin-top: 15px;
}
.geonorge-container .page-header h1,
.geonorge-container .page-header h2,
.geonorge-container .page-header h3,
.geonorge-container .page-header h4 {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  margin: 0;
  padding-right: 20px;
}
.geonorge-container .edgesDefault {
  border-left: solid 8px #e87722;
  border-right: solid 8px #e87722;
}
.geonorge-container .edgesGeonorge {
  border-left: solid 8px #e87722;
  border-right: solid 8px #e87722;
}
.geonorge-container .edgesArtikler {
  border-left: solid 8px #e87722;
  border-right: solid 8px #e87722;
}
.geonorge-container .edgesKartkatalogen {
  border-left: solid 8px #249446;
  border-right: solid 8px #249446;
}
.geonorge-container .edgesObjektkatalogen {
  border-left: solid 8px #1a589f;
  border-right: solid 8px #1a589f;
}
.geonorge-container .edgesNorgeskart {
  border-left: solid 8px #898d8d;
  border-right: solid 8px #898d8d;
}
.geonorge-container .edgesRegistre {
  border-left: solid 8px #8c4799;
  border-right: solid 8px #8c4799;
}
.geonorge-container .breadcrumb {
  background-color: transparent;
  font-size: 1.2em;
  margin-top: 2px;
  margin-bottom: 0;
}
.geonorge-container .breadcrumb li + li:before {
  content: '\25BA';
}
.geonorge-container .filter-title {
  line-height: 22px;
  position: relative;
  padding-bottom: 2px;
}
.geonorge-container .filter-title .icon {
  font-size: 15px;
  position: absolute;
  top: -3px;
  left: -7px;
  -moz-border-radius: 50% 50%;
  -webkit-border-radius: 50% 50%;
  border-radius: 50% 50%;
  background: #ffffff;
  padding: 6px;
  height: 28px;
  width: 28px;
}
.geonorge-container .filter-title h3 {
  margin: 0;
  padding: 0 0 0 10px;
}
.geonorge-container .filter-options {
  margin-left: 10px;
  margin: 3px 0 3px 10px;
}
.geonorge-container .filter-options .reset {
  padding: 1px 5px;
  font-size: 12px;
}
.geonorge-container .filter-options button {
  font-size: 12px;
  padding: 0;
  white-space: normal;
  text-align: left;
}
.geonorge-container .panel-info {
  background-color: transparent !important;
  border-color: #dedcdc;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}
.geonorge-container .panel-info > .panel-heading {
  background-color: #dedcdc;
  border-color: #dedcdc;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  padding: 6px 12px 3px 20px;
}
.geonorge-container .panel-info .panel-body {
  padding: 20px 10px 10px 10px;
}
/*# sourceMappingURL=common.css.map */