#autocomplete {
    background: none;
}

.search-filter-wrapper {
    padding: 0px !important;
}

    .search-filter-wrapper > .nav-tabs {
        border-bottom: none;
        margin-bottom: 15px;
    }

/* Responsiv */

@media (max-width: 992px) {
   
    .col-sm-12.pull-right {
        float: none !important;
    }
}

@media (max-width: 600px) {
    .search-filter-wrapper > .nav-tabs li {
        display: block;
        float: none !important;
        margin: 5px 0;
    }

    .search-filter-wrapper .pull-right {
        float: none !important;
    }

    .search-filter-wrapper .pagination {
        float: none !important;
        display: block;
    }
}


/*  Loading animation */
#loading {
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    position: fixed;
    display: block;
    opacity: .5;
    background-color: #fff;
    z-index: 699;
    text-align: center;
}

#loading-image {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 600;
}


.btn-space {
    margin-right: 2px;
}

.chosen-container-single .chosen-single div b::before {
    font-family: "Glyphicons Halflings";
    content: "";
}

.sorter .chosen-container-single .chosen-single abbr {
    position: unset;
    top: 6px;
    right: 26px;
    display: block;
    width: 12px;
    height: 12px;
    background: transparent url("img/chosen-sprite.png") no-repeat scroll -42px 1px;
    font-size: 1px;
}

.chosen-container-single .chosen-single {
    min-width: 150px !important;
}

/*Kalendersymbol plassering*/
.ui-button {
    display: inline-block;
    position: absolute !important;
    padding: 0;
    line-height: normal;
    margin-right: .1em;
    cursor: pointer;
    vertical-align: middle;
    text-align: center;
    overflow: visible; /* removes extra width in IE */
}

.chosen-container {
    width: 100% !important;
}



/* Nytt geonorge design */
.table-heading {
    border-bottom: 2px solid #FE5000;
    height: 27px;
    margin-bottom: 8px !important;
    padding: 0;
}

    .table-heading h4 {
        font-size: 12pt;
        text-transform: uppercase;
        color: #414042;
        line-height: 14pt;
    }


.search-results.table-view .btn {
    color: #3867c8;
    background-color: #FFF;
}

.nav-pills > li:hover, .view-navigation .pagination > li:hover {
    cursor: pointer;
}

.nav-pills > li > a {
    background-color: #FFF;
    transition: all .35s linear 0s;
    color: #7da1c4;
    border: none;
    font-style: normal;
    font-family: "Open Sans",sans-serif;
    font-weight: normal;
    font-size: 12pt;
    border-radius: 0;
    line-height: 12pt;
    display: inline-block;
}

    .nav-pills > li > a.active {
        background-color: #7da1c4;
        color: #fff;
    }

    .nav-pills > li > a:hover {
        background-color: #fe5000;
        color: #FFF;
    }

.label-Kommunalt {
    border-color: #FE5000;
}

.label-Nasjonalt {
    border-color: #5D4777;
}

/*Checkbox to trash incon*/

label#cbDelete input[type="checkbox"] {
    /* content: "\e020" !important;
    font-family: 'Glyphicons Halflings' !important;
    height: 16px;
    width: 16px;
    display:inline-block;
    font-weight: normal;
    padding: 0 0 0 0px;*/
    width: 0;
    height: 0;
    -moz-appearance: none;
}

/*label.trash:before {
    content: "\e020";
    font-family: 'Glyphicons Halflings';
    height: 16px;
    width: 16px;
    display:inline-block;
    font-weight: normal;
    padding: 0 0 0 0px;
}*/

#cbDelete input[type="checkbox"] + input + label:before {
    content: "\e020" !important;
    height: 20px;
    width: 20px;
    display: inline-block;
    font-family: 'Glyphicons Halflings' !important;
    position: relative;
    z-index: 1;
    bottom: 36px;
    right: 7px;
}

#cbDelete input[type="checkbox"]:checked + input + label:before {
    color: red;
}


#cbDelete input[type="checkbox"] {
    opacity: 0;
    position: relative;
    z-index: 200;
    width: 100%;
    height: 35px;
    margin-top: -5px;
}

    #cbDelete input[type="checkbox"]:hover {
        cursor: pointer;
    }


/*Det offentlige kargrunnlaget - kommunalt, sortering*/

table.tablesorter thead tr {
    border-bottom: 3px solid #fe5000;
    height: 27px;
    margin-bottom: 8px !important;
}

    table.tablesorter thead tr th {
        font-weight: normal;
        color: #414042;
        text-transform: uppercase;
    }

.sorter-false {
    font-weight: normal;
    color: black !important;
    text-transform: none !important;
}

.dataset .sorter-false a {
    font-weight: normal;
    text-transform: uppercase !important;
}


table.tablesorter thead tr .tablesorter-headerAsc {
    /*height: 20px;
    width: 20px;*/
    color: #fe5000;
}

table.tablesorter thead tr .tablesorter-headerDesc {
    /*height: 20px;
    width: 20px;*/
    color: #fe5000;
}

.tablesorter-headerAsc .tablesorter-header-inner:after {
    content: "";
    background-image: url("/Content/img/arrow-up.svg");
    width: 10pt;
    height: 10pt;
    padding: 0;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: 50%;
    display: inline-block;
    margin-left: 7px;
}

.tablesorter-headerDesc .tablesorter-header-inner:after {
    content: "";
    background-image: url("/Content/img/arrow-down.svg");
    width: 10pt;
    height: 10pt;
    padding: 0;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: 50%;
    display: inline-block;
    margin-left: 7px;
}

/*Bower?*/
a.link-unstyled {
    text-decoration: none;
    color: #333;
}


/* Norgeskart legend */
.norgeskart-legend .custom-checkbox label {
    margin-left: 10px;
}

/* Modal */
.modal {
    padding-top: 250px;
}

.modal-dialog {
    margin: auto;
    width: 700px;
}


/**/
.superImportantCheckbox .checkbox-icon::after{
    content: url(/Content/bower_components/kartverket-felleskomponenter/assets/images/svg/checkbox-unchecked-default.svg) !important;

}

.superImportantCheckbox input[type="checkbox"]:checked + input[type="hidden"] + .checkbox-icon::after{
    content: url(/Content/bower_components/kartverket-felleskomponenter/assets/images/svg/checkbox-checked-default.svg) !important;
}



/*inn i felleskomponenter*/

.resultItemRow {
    padding: 8px 0;
    border-bottom: 1px solid #ccc;
}

.col {
    padding-left: 0;
}

.status-icons {
    text-align: right;
}

.nav-tabs-version {
    padding-bottom: 0;
    margin-bottom: 30px;
}