.geonorge-container .container > .navbar-collapse {
  margin-left: 0;
  margin-right: 0;
}
.geonorge-container table.vertical-centering {
  height: 100%;
}
.geonorge-container table.vertical-centering td {
  vertical-align: middle;
}
.geonorge-container .navbar {
  -moz-border-radius: 0 0 0 0;
  -webkit-border-radius: 0 0 0 0;
  border-radius: 0 0 0 0;
  border: none;
}
.geonorge-container #logo-navbar {
  position: absolute;
  left: 15px;
}
@media (max-width: 480px) {
  .geonorge-container #logo-navbar {
    display: none;
  }
}
.geonorge-container .navbar-geonorge {
  margin-top: 40px;
  margin-bottom: 0;
  background-color: #dedcdc;
  color: #333;
  background-image: linear-gradient(#ededed, #dedcdc);
}
.geonorge-container .navbar-geonorge:after {
  position: absolute;
  left: 0;
  right: 0;
  display: block;
  top: 100%;
  height: 10px;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAA6oAAAAKCAYAAAC9iKNtAAACmUlEQVR42u2b23LDIAwFrf//aPWlM+1M6/giHSFgz0sSByEQ2NECseNHdvyVXbw/e/30/szXnTZc2V/5vXvNBDZP67TE2DyJd8b1u+Ojak/kO5XPqN9DbKuoJ7suRX3d/dIvtLucvrX36w3rcqGdi76P+vZEn1l+XNweT7zmgfJvPr8p44G4Z8fw7LN/uOZP4x2BwGxIUdhmQdFb0M6CTVW9ShCuiG/2+IyAdzX4VpW3Ju0YaTcK/OyfB/0uAApoA3tnfbSBffcBtlV23qBsdvkssFRBVgREKgBPVefTMVPAZVa91bGILqhkLrZ4pG5lctkpAczspwq2M6BJBUWW1AYlGEZB9K19tL638Y1CbpafEWVGllP0pTOMdQdBm6ANHSCxM6j6Iv5d4Msbl+tWJpqYd4O3KKSpd1ddGN8RcFYFh1FAzHp2ZTz3vMK+SxKywnE++w66areow+6Wib+vBvQMyMz0a8L5MWM9d+6pmYB+5mPQO8Fyh99FX9TXSv30BH8ZAJaRGNtRc+R1lnqyACVjRzATLu/a2aE73qwGMkXZNwtMdvQ8Ej/T70MrUO2uEYmSi313+R+iCW0qITwCRJ+ArOL4qt2cjyMXVaxwTlTvDlc/Z1b+n69NUr/6x78iuZjtSK3a14o7jOrk345xQHMFqpG2VY+PErqi990MsOb/5N7bgCAAhhijuRPVrhDedfHBmtoo+2ON7wvb5L7vDP5VichOK+6/F866Q78LfXhBXyrBpgPUjGi7T3hPrgRYwCIQhNB2c3CHY5mz7wDaJDEw5jvPnUkTKqeNaT588jFyxhiQQwhIQIj7jPjQfmJR01cXlCWxJRa0n/gghEiwEEI8xxAaOr9IdBHzCyGEEEIIIYQQQgih7voC0joRGZRJmRQAAAAASUVORK5CYII=");
}
.geonorge-container .navbar-geonorge .container {
  position: relative;
  height: 5em;
}
.geonorge-container .navbar-geonorge .navbar-header {
  float: none;
}
.geonorge-container .navbar-geonorge .navbar-title {
  color: inherit;
  display: block;
  width: 14em;
  margin: 4px auto;
  text-align: center;
  line-height: 1.1;
  font-family: Arial, sans-serif;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
  text-decoration: none;
}
.geonorge-container .navbar-geonorge .navbar-title .navbar-headline {
  font-size: 2.7em;
}
.geonorge-container .navbar-geonorge .navbar-title .navbar-subline {
  font-size: 1.3em;
}
@media (max-width: 480px) {
  .geonorge-container .navbar-geonorge .navbar-title {
    text-align: left;
    margin-left: 15px;
  }
}
.geonorge-container .navbar-geonorge #sub-page-title {
  font-family: 'Meta Book', Arial, sans-serif;
  z-index: 5;
  position: absolute;
  right: 15px;
  bottom: 0;
  font-size: 1.6em;
}
.geonorge-container .navbar-geonorge #sub-page-title a {
  color: inherit;
  position: relative;
  bottom: -10px;
  text-decoration: none;
}
.geonorge-container .navbar-geonorge #ribbon-container {
  position: absolute;
  overflow: hidden;
  width: 10em;
  height: 100%;
  right: 6px;
  bottom: 0;
}
.geonorge-container .navbar-geonorge #beta-ribbon {
  padding: 2px 0;
  color: #fff;
  background: rgba(232, 119, 34, 0.6);
  text-align: center;
  -moz-transform: rotate(-45deg) translate(-8px, 20px);
  -ms-transform: rotate(-45deg) translate(-8px, 20px);
  -o-transform: rotate(-45deg) translate(-8px, 20px);
  -webkit-transform: rotate(-45deg) translate(-8px, 20px);
  transform: rotate(-45deg) translate(-8px, 20px);
}
/*# sourceMappingURL=navbarV2.css.map */