@media print {

    /*Fjerner alle urler i utskriften*/
    a[href]:after {
        content: none !important;
    }

    /*Bestemmer at det ikke skal settes et page break midt i en listing av et registeritem på et register. */
    .result-row {
        
    }

    .no-page-break {
        page-break-inside: avoid;
    }


    /*Datasett registervisning*/
    .search-results.dataset.list-view .col-img {
        width: 20%;
    }

    .search-results.dataset.list-view .col-title {
        width: 80%;
    }

    .search-results.dataset.list-view .col-information {
        width: 100%;
    }

    .search-results.dataset.list-view .col-actions {
        width: 50%;
    }

    .search-results.dataset.list-view {
        width: 100%;
    }


    /*Datasett detaljside*/

    .miniatyrbilde {
        max-height: 180px;
        max-width: 180px;
    }
}
