@media print {

    a[href]:after {
        content: none !important;
    }

    .search-results.dataset.list-view .col-img {
        width: 20%;
    }

    .search-results.dataset.list-view .col-title {
        width: 80%;
    }

    .search-results.dataset.list-view .col-information {
        width: 100%;
    }

    .search-results.dataset.list-view .col-actions {
        width: 50%;
    }

    .search-results.dataset.list-view {
        width: 100%;
    }

    .result-row {
        page-break-inside: avoid;
    }

    footer {
        align-content:center;
    }

    .search-results.dataset.table-view .beskrivelse-print {
        display: none !important;
    }

}
