@media print {

    a[href]:after {
        content: none !important;
    }

    .search-results.dataset.list-view .col-img{
        width:20%;
        margin-right: auto;
        margin-left: auto;
    }

    .search-results.dataset.list-view .col-title{
        width:40%;
    }

    .search-results.dataset.list-view .col-information{
        width:50%;
    }

    .search-results.dataset.list-view .col-actions{
        width:40%;
        margin-left:-50px;
    }

    


}
