@using Kartverket.Register.Models
@model NotFoundModel
@{
    ViewBag.Title = "Fant ikke side";
}
<h2>@ViewBag.Title</h2>
<div>
    Du forsøkte side '@Model.RequestedUrl' som vi desverre ikke fant.
</div>

