@{
    ViewBag.Title = "Index";
}

<h2>Dekningskart for DOK-datasett</h2>

<form action="@Request.Url.LocalPath" method="get">
    <div class="row">
        <div class="col-md-2">
            <div class="chosen-container chosen-container-single">
                <label for="State" class="sr-only">Velg fylke:</label> @Html.DropDownList("fylke", (SelectList)ViewBag.States, "Velg fylke")
            </div>
        </div>
        <div class="col-md-5">
            <div class="chosen-container chosen-container-single">
                <label for="Dataset" class="sr-only">Velg fylke:</label> @Html.DropDownList("dataset", (SelectList)ViewBag.Datasets, "Velg datasett")
            </div>
        </div>
        <div class="col-md-3">
            <input type="submit" value="Vis dekningskart for valgt fylke" class="btn btn-default" />
        </div>
    </div>
</form>


<div id="map" class="col-sm-12 col-md-12" style="height: 600px;">

</div>

<script type="text/javascript">
    (function () {
        var map = L.map('map').setView([64.5, 10], 5);

        L.tileLayer.kartverket('europa').addTo(map);
        L.tileLayer.kartverket('topo2').addTo(map);

    }());
</script>