@{
    ViewBag.Title = "Index";
}

<h2>Dekningskart for DOK-datasett</h2>

<form action="@Request.Url.LocalPath" method="get">

    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-md-3">
                <div class="chosen-container chosen-container-single">
                    <label for="State" class="sr-only">Velg fylke:</label> @Html.DropDownList("fylke", (SelectList) ViewBag.States, "Velg fylke")
                </div>
            </div>
            <div class="col-md-7">
                <div class="chosen-container chosen-container-single">
                    <label for="Dataset" class="sr-only">Velg fylke:</label> @Html.DropDownList("dataset", (SelectList)ViewBag.Datasets, "Velg datasett")
                </div>
            </div>
            <div class="col-md-2">
                <input type="submit" value="Vis dekningskart for valgt fylke" class="btn btn-default"/>
            </div>
        </div>
    </div>
</form>


<div class="col-sm-12 col-md-12" style="height: 600px;">

    <iframe src="http://norgeskart.no/geoportal/dynamisk.html#5/355422/6668909/l/wms/[http://openwms.statkart.no/skwms1/wms.gp_dek_oversikt?]/+datasett_dekning"
            width="100%" height="100%" style="border: none;position:absolute;"></iframe>

</div>