@model Kartverket.Register.Models.Dataset
﻿@using Kartverket.Register.Helpers

@{
    ViewBag.Title = "Delete";
}

@section breadcrumb {
    <li><a href="/register/@Model.register.seoname">@Html.DisplayFor(model => model.register.name)</a></li>
    <li><a href="/register/@Model.register.seoname/@Model.submitter.seoname/@Model.seoname">@Html.DisplayFor(model => model.name)</a></li>
    <li class="active">Slett</li>
}

<h2>Slett</h2>

<h3>Er du sikker på at du vil slette "@Model.name"?</h3>
<div>
    @*<h4>@Model.name</h4>*@
    <hr />
    <dl class="dl-horizontal"></dl>

    @using (Html.BeginForm())
    {
        @*@Html.AntiForgeryToken()*@

        <div class="form-actions no-color">
            <input type="submit" value="Slett" class="btn btn-default" /> |
            <a href="/register/@Html.ToUrl(Model.register.name)/@Html.ToUrl(Model.datasetowner.name)/@Html.ToUrl(Model.name)/">Tilbake</a>
        </div>
    }
</div>
