<?xml version="1.0" encoding="UTF-8"?>
<appSettings>
  <add key="SchemaRemoteSynchEnabled" value="true" />
  <add key="SchemaRemoteUrlTest" value="" />
  <add key="SchemaFtpSiteTest" value="" />
  <add key="SchemaFtpUsernameTest" value="" />
  <add key="SchemaFtpPasswordTest" value="" />
  <add key="SchemaRemoteUrl" value="" />
  <add key="SchemaFtpSite" value="" />
  <add key="SchemaFtpWorkingDirectoryTest" value="" />
  <add key="SchemaFtpWorkingDirectory" value="" />
  <add key="SchemaFtpUsername" value="" />
  <add key="SchemaFtpPassword" value="" />
  <add key="LogApi" value="http://api.dev.geonorge.no/endringslogg/" />
  <add key="LogApiKey" value="" />
  <add key="GeoID:ClientId" value="" />
  <add key="GeoID:ClientSecret" value="" />
  <add key="GeoID:Authority" value="" />
  <add key="GeoID:Issuer" value="" />
  <add key="GeoID:RedirectUri" value="" />
  <add key="GeoID:PostLogoutRedirectUri" value="" />
  <add key="GeoID:MetadataAddress" value="" />
  <add key="GeoID:BaatAuthzApiUrl" value=""/>
  <add key="GeoID:BaatAuthzApiCredentials" value=""/>
  <add key="DocumentsUrl" value="https://dokumenter.dev.geonorge.no/" />
  <add key="StandardsUrl" value="https://standarder.dev.geonorge.no/" />
</appSettings>