<?xml version="1.0" encoding="UTF-8"?>
<appSettings>
  <add key="SchemaUNCpath" value="" />
  <add key="SchemaRemoteUrl" value="http://skjema.test.geonorge.no/SOSI/produktspesifikasjon/" />
  <add key="SchemaRemoteSynchEnabled" value="true" />
  <add key="LogApi" value="http://api.dev.geonorge.no/endringslogg/" />
  <add key="LogApiKey" value="" />
</appSettings>