<?xml version="1.0" encoding="UTF-8"?>
<appSettings>
  <add key="SchemaUNCpath" value="" />
  <add key="SchemaRemoteUrl" value="http://skjema.test.geonorge.no/SOSI/produktspesifikasjon/" />
  <add key="SchemaRemoteSynchEnabled" value="true" />
  <add key="LogApi" value="http://api.dev.geonorge.no/endringslogg/" />
  <add key="LogApiKey" value="" />
  <add key="GeoID:ClientId" value="" />
  <add key="GeoID:ClientSecret" value="" />
  <add key="GeoID:Authority" value="" />
  <add key="GeoID:Issuer" value="" />
  <add key="GeoID:RedirectUri" value="" />
  <add key="GeoID:MetadataAddress" value="" />
  <add key="GeoID:BaatAuthzApiUrl" value=""/>
  <add key="GeoID:BaatAuthzApiCredentials" value=""/>
</appSettings>