<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.webServer>
    <rewrite xdt:Transform="Insert">
      <rules>
        <rule name="Handle old url tjenestevarsler">
          <match url="^tjenestevarsler(.*)" />
          <action type="Rewrite" url="/varsler.atom" />
        </rule>
        <rule name="Rewrite to add register cartography">
          <match url="^register/kartografi(.*)" />
          <action type="Rewrite" url="kartografi/{R:1}" />
        </rule>
        <rule name="Rewrite to add register symbol">
          <match url="^register/symbol(.*)" />
          <action type="Rewrite" url="symbol/{R:1}" />
        </rule>
        <rule name="Rewrite Rule">
          <match url=".*" />
          <conditions>
            <add input="{StaticRewrites:{REQUEST_URI}}" pattern="(.+)" />
          </conditions>
          <action type="Rewrite" url="{C:1}" />
        </rule>
      </rules>
      <rewriteMaps>
        <rewriteMap name="StaticRewrites" defaultValue="">
          <add key="/api/geolett" value="/geolett/api" />
          <add key="/geolett" value="/geolett/index.html" />
        </rewriteMap>
      </rewriteMaps>
    </rewrite>
  </system.webServer>
</configuration>