<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.web>
    <customErrors mode="On" defaultRedirect="~/Error/" xdt:Transform="Replace">
      <error statusCode="404" redirect="~/Error/NotFound/" />
    </customErrors>
  </system.web>
  <log4net debug="true">
    <root>
      <priority value="INFO" xdt:Transform="Replace" />
    </root>
  </log4net>
  <system.webServer>
    <rewrite xdt:Transform="Insert">
      <rules>
        <rule name="Handle old url tjenestevarsler">
          <match url="^tjenestevarsler(.*)" />
          <action type="Rewrite" url="/varsler.atom" />
        </rule>
        <rule name="Rewrite to add register cartography">
          <match url="^register/kartografi(.*)" />
          <action type="Rewrite" url="kartografi/{R:1}" />
        </rule>
        <rule name="Rewrite to add register symbol">
          <match url="^register/symbol(.*)" />
          <action type="Rewrite" url="symbol/{R:1}" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>