<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <kentor.authServices
    entityId="http://register.dev.geonorge.no"
    returnUrl="http://register.dev.geonorge.no"
    xdt:Transform="Replace">
    <identityProviders>
      <add
        entityId="https://testidp.statkart.no/simplesaml/saml2/idp/metadata.php"
        destinationUrl="https://testidp.statkart.no/simplesaml/saml2/idp/SSOService.php"
        binding="HttpRedirect" allowUnsolicitedAuthnResponse="false">
        <signingCertificate
          storeName="TrustedPublisher"
          storeLocation="LocalMachine"
          findValue="312d11889139a297faa4c3f024e3ca32bb183931"
          x509FindType="FindByThumbprint" />
      </add>
    </identityProviders>
  </kentor.authServices>

</configuration>
