<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
  <log4net debug="true">
    <root>
      <priority value="INFO" xdt:Transform="Replace" />
    </root>
  </log4net>
</configuration>
