<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <kentor.authServices
    entityId="http://register.test.geonorge.no"
    returnUrl="http://register.test.geonorge.no"
    xdt:Transform="Replace">
    <identityProviders>
      <add entityId="https://testidp.statkart.no/simplesaml/saml2/idp/metadata.php" signOnUrl="https://testidp.statkart.no/simplesaml/saml2/idp/SSOService.php" binding="HttpRedirect" allowUnsolicitedAuthnResponse="false" logoutUrl="https://testidp.statkart.no/simplesaml/saml2/idp/SingleLogoutService.php">
        <signingCertificate storeName="TrustedPublisher" storeLocation="LocalMachine" findValue="312d11889139a297faa4c3f024e3ca32bb183931" x509FindType="FindByThumbprint" />
      </add>
    </identityProviders>
    <serviceCertificates>
      <add storeName="TrustedPublisher" storeLocation="LocalMachine" findValue="7115DBA2C2E4A751C352B5569418124498FB4F78" x509FindType="FindByThumbprint" />
    </serviceCertificates>
  </kentor.authServices>
  <system.web>
    <customErrors mode="On" defaultRedirect="~/Error/" xdt:Transform="Replace">
      <error statusCode="404" redirect="~/Error/NotFound/" />
    </customErrors>
  </system.web>

  <log4net debug="true">
    <root>
      <priority value="INFO" xdt:Transform="Replace" />
    </root>
  </log4net>

  <appSettings>
    <add key="EnvironmentName" value="test" xdt:Transform="Replace"/>
  </appSettings>
  <system.webServer>
    <rewrite xdt:Transform="Insert">
      <rules>
        <rule name="Rewrite to add register cartography">
          <match url="^register/kartografi(.*)" />
          <action type="Rewrite" url="kartografi/{R:1}" />
        </rule>
        <rule name="Rewrite to add register symbol">
          <match url="^register/symbol(.*)" />
          <action type="Rewrite" url="symbol/{R:1}" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>