
@{
    ViewBag.Title = "Målemetode";
}
@section head {
    <link rel="alternate" type="application/atom+xml"
          href="/kodeliste/maalemetode/atom.xml" title="Atom Feed">
}

<h2>Målemetode (hardkodet for alle kodelister)</h2>
<div class="row">
    <div class="col-md-8">
        <p><b>ID</b> <a href="/kodeliste/maalemetode">http://register.geonorge.no/kodeliste/maalemetode</a></p>
        <p>metode som ligger til grunn for registrering av posisjon</p>
        <p><b>Administrator</b>: Kartverket     <b>Kontrollorgan</b>: Kartverket</p>
    </div>
    <div class="col-md-4 text-right">
        <div>
            <a class="btn btn-warning" href="atom.xml">Atom</a>
            <a class="btn btn-warning" href="rdf.xml">RDF</a>
            <a class="btn btn-warning" href="data.json">Json</a>
        </div>
        <div >
            <a class="btn btn-warning" href="/kodeliste/maalemetode/gmldictionary.xml">GML</a>
            <a class="btn btn-warning" href="/kodeliste/maalemetode/inspire.xml">Inspire</a>
        </div>
</div>
</div>
<a class="btn btn-success" href="#">Foreslå ny verdi (For pålogget bruker)</a>


<table class="table">
    <tr>
        <th>
            ID
        </th>
        <th>
            Navn
        </th>
        <th>
            Definisjon
        </th>
        <th>
            Versjon
        </th>
        <th>
            Status
        </th>
        <th>
            Språk
        </th>
    </tr>

    <tr>
        <td>
            <a href="/codelists/maalemetode/10">http://register.geonorge.no/kodeliste/maalemetode/10</a>
        </td>
        <td>
            Terrengmålt: Uspesifisert måleinstrument
        </td>
        <td>
            Målt i terrenget , uspesifisert metode/måleinstrument
        </td>
        <td>
            1
        </td>
        <td>Godkjent</td>
        <td>Norsk</td>
    </tr>
    <tr>
        <td>
            <a href="/codelists/maalemetode/11">http://register.geonorge.no/kodeliste/maalemetode/11</a>
        </td>
        <td>
            Terrengmålt: Totalstasjon
        </td>
        <td>
            Målt i terrenget med totalstasjon
        </td>
        <td>
            1
        </td>
        <td>Godkjent</td>
        <td>Norsk</td>
    </tr>
    <tr>
        <td>
            <a href="/codelists/maalemetode/97">http://register.geonorge.no/kodeliste/maalemetode/97</a>
        </td>
        <td>
            GNSS: Fasemåling , float-løsning
        </td>
        <td>
            Innmålt med satellittbaserte systemer for navigasjon og posisjonering med global dekning (f.eks GPS, GLONASS, GALILEO). Fasemåling float-løsning
        </td>
        <td>
            1
        </td>
        <td>Godkjent</td>
        <td>Norsk</td>
    </tr>
</table>
