﻿@using Kartverket.Register.Helpers
@model List<Kartverket.Register.Models.RegisterItem>

@using Kartverket.Register.Models

<div>
    @foreach (Organization item in Model)
    {

        <div class="row result-row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="hidden-xs col-sm- col-md-2 col-lg-2 top-padding">
                    <a href="/register/organisasjoner/@Html.ToUrl(item.name)"><img src="@Url.Content("~/data/organizations/" +  item.logoFilename)" class="img-responsive center-block" alt="logo" /></a>
                </div>

                <div class="col-no-padding-xs col-xs-9 col-sm-9 col-md-9 col-lg-9">
                    <h4 class="role-button" role="button">
                        <a href="/register/@item.register.seoname/@item.submitter.seoname/@item.seoname">@Html.DisplayFor(modelItem => item.name)</a>
                    </h4>
                    <h5>
                        Org.nr: @Html.DisplayFor(modelItem => item.number)
                    </h5>
                    <p>
                        @Html.DisplayFor(modelItem => item.description)
                    </p>
                </div>
            </div>
        </div>
    }


</div>



