@model Kartverket.Register.Models.Register

@{
    ViewBag.Title = "Slett";
}

@section breadcrumb {

    <li><a href="/register/@Model.seoname">@Html.DisplayFor(model => model.name)</a></li>
    <li class="active">Slett</li>
}


<h2>Slett</h2>

<h3>Er du sikker på at du vil slette @Model.name</h3>
<div>
    <hr />

    @using (Html.BeginForm())
    {

        <div class="form-actions no-color">
            <input type="submit" value="Slett" class="btn btn-default" /> <br/>
            @Html.ValidationMessage("ErrorMessageDelete") <br />
            <br />
            <a href="/register/@Model.seoname/">Tilbake</a>
        </div>
    }
</div>
