@model Kartverket.Register.Models.Register

@{
    ViewBag.Title = "Slett" + Model.name;
}

@section breadcrumb {

    <li><a href="/register/@Model.seoname">@Html.DisplayFor(model => model.name)</a></li>
    <li>Slett</li>
}


<h2>Slett</h2>

<h4>Er du sikker på at du vil slette <b>@Model.name</b>?</h4>
@Html.ValidationMessage("ErrorMessageDelete")
<hr />

@using (Html.BeginForm())
{

    <div class="form-actions no-color">
        <input type="submit" value="Slett" class="btn btn-default pull-right" />
        
        <a href="/register/@Model.seoname/">Tilbake</a>
    </div>
}

