@model Kartverket.Register.Models.Document
﻿@using Kartverket.Register.Helpers

@{
    ViewBag.Title = UI.Edit;
}

<h2>@ViewBag.Title</h2>


<hr />
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <p>
        <a href="/document/@Html.ToUrl(Model.name)/@Model.systemId">Tilbake</a>
    </p>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
