@model IEnumerable<Kartverket.Register.Models.Register>

@{
    ViewBag.Title = "Register";
}


<h2>Register</h2>


<table class="table">
    <tr>
        <th>
            Navn
        </th>
        <th>
            Innhold
        </th>
        <th>
            Status
        </th>
        <th>
            Administrator
        </th>
        <th>
            Eier
        </th>
        
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <b><a href="/register/@item.name/@item.systemId">@item.name</a></b>          
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.description)
        </td>
        <td>
            <span>Godkjent <i class="statusIcon-godkjent"></i></span>
        </td>
        <td>
            @if (item.manager == null)
            {
                <span>Ikke angitt</span>
            }
            else
            {
                @Html.DisplayFor(modelItem => item.manager.name) 
            }
            
        </td>
        <td>
            @if (item.owner == null)
                        {
                <span>Ikke angitt</span>
                        }
                        else
                        {
            @Html.DisplayFor(modelItem => item.owner.name)
            }
        </td>
        
    </tr>
}

</table>
