@model Kartverket.Register.Models.Document
﻿@using Kartverket.Register.Helpers

@{
    ViewBag.Title = "Delete";
}

<h2>Slett</h2>

<h3>Er du sikker på at du vil slette "@Model.name"?</h3>
<div>
    @*<h4>@Model.name</h4>*@
    <hr />
    <dl class="dl-horizontal"></dl>

    @using (Html.BeginForm())
    {
        @*@Html.AntiForgeryToken()*@

        <div class="form-actions no-color">
            <input type="submit" value="Slett" class="btn btn-default" /> |
            <a href="/dokument/@Html.ToUrl(Model.name)/@Model.systemId">Tilbake</a>
        </div>
    }
</div>
